<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rusty Htmx Shop</title>
  <link rel="icon" href="/assets/favicon.53c18623.svg">
  <meta name="description" content="A lil rust, a lil htmx, and a lot of hope.">
  <meta name="author" content="Paul Bouzakis">
  <script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>
  <script type="module" crossorigin src="/assets/layout.4ebe49f9.js"></script>
  <link rel="stylesheet" href="/assets/layout.eb894560.css">
</head>
<body class="xt-body xt-links-default" data-client-template="true">
  {% block body %}{% endblock %}

  

  <script>
    // put at the end of body tag https://browser-update.org/
    var $buoop = {required:{e:79,f:53,o:44,s:11,c:57},api:2021.03 };
    function $buo_f(){
    var e = document.createElement("script");
    e.src = "//browser-update.org/update.min.js";
    document.body.appendChild(e);
    };
    try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
    catch(e){window.attachEvent("onload", $buo_f)}
  </script>

</body>
</html>
